<!DOCTYPE html>
<html data-ng-app="shiratSite">
    <head>
        <meta charset="utf-8" />
        <title>מדרשת שירת חברון</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="title" content="מדרשת שירת חברון ">
        <meta name="description" content="מדרשה, מדרשה לבנות, שנת מדרשה,לימוד תורה לבנות,ספריית שיעורים, תורה לשמה,לימוד תוררה לנשים ">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/modernizr.custom.70736.js"></script>
    </head>

    <body>
        <div class="main-container" ng-class="{'narrow':state.includes('way') ||  state.includes('gallery') || state.includes('aboutMidrasha') ||state.includes('share') ,'inner-page': state.includes('about') || state.includes('donation') || state.includes('gallery') || state.includes('aboutMidrasha') || state.includes('info') || state.includes('library') || state.includes('way') || state.includes('share') }">
            <header></header>
            <menu></menu>

            <div class=" main-wrap">
                <div class="main">
                    <right ng-hide="state.includes('about') ||  state.includes('info')  || state.includes('donation') || state.includes('library') "></right>
                    <div id="main-view" data-ui-view="main" class="main-view">

                    </div>

                    <left></left>
                    <div class="addon">
                    </div>
                </div>

            </div>
            <div class="video-popup" ng-class="{'open': showMainVideo  == true}" ng-if="showMainVideo == true" ng-click="closeMainVideo()" ng-init="showMainVideo =false">
                <div id="video-embed-wrap">
                    <iframe src="https://www.youtube.com/embed/SKwDzptIj2I?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <footer></footer>


        </div>



        <script src="js/jquery-1.8.3.min.js"></script>

        <!-- Angular -->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-ui-router.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
        <!--<script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>-->
        <script src="app.js"></script>
        <script src="directives/header/header.js"></script>
        <script src="directives/menu/menu.js"></script>
        <script src="directives/footer/footer.js"></script>
        <script src="directives/right/right.js"></script>
        <script src="directives/left/left.js"></script>


        <script src="components/home/home.js"></script>
        <script src="components/about/about.js"></script>
        <script src="components/info/info.js"></script>
        <script src="components/aboutMidrasha/aboutMidrasha.js"></script>
        <script src="components/way/way.js"></script>
        <script src="components/share/share.js"></script>
        <script src="components/gallery/gallery.js"></script>
        <script src="components/library/library.js"></script>
        <script src="components/lesson/lesson.js"></script>
        <script src="components/donation/donation.js"></script>

    </body>

</html>