<div>
    <div class="main information">

        <div class="middle" ng-init="activeIndex = 0">
            <div class="title" ng-click="activeIndex = 0" ng-class="{'active':activeIndex == 0}"><span>מיטל</span></div>
            <div class="title" ng-click="activeIndex = 1" ng-class="{'active':activeIndex == 1}"><span>נעה</span></div>
            <div class="title" ng-click="activeIndex = 2" ng-class="{'active':activeIndex == 2}"><span>ימים פתוחים</span></div>
            <div class="text">
                <div class="text1" ng-show="activeIndex == 0">
               ונתחיל דווקא מהסוף.. <br>ב"ה שפע של מדרשות רציניות ואיכותיות קמו ועלו במהלך השנים האחרונות
ברחבי הארץ. מיטב המקומות, מצפון ועד דרום.. לכל מדרשה האופי והייחודיות משלה- אז איפה
עושים שנת מדרשה ?!<br>
נכון. יש מגוון רחב של אפשרויות והעיקר- לעשות שנת מדרשה מלאה.
אם את מזהה בך את הצימאון ללמוד ולהעמיק, לבנות בתוכך עוד קומה וקשר, לייצב יסודות בעבודת<br>
ה' ובבניין האישיות שלך רגע לפני שמרוץ החיים מתחיל באמת.. אל תוותרי על כך. <br>בעיננו, ההחלטה
הלא קלה הזאת, עשיית ה'pause'  משטף החיים ('מתי תתחילי ללמוד?' / 'איך תתחתני'? / 'את
יודעת כמה קשה לשלב לימודי תואר ולגדל ילדים?') זוהי בהחלט החלטה אמיצה, החלטה שבונה
חיים שלמים..<br>
שנה שלמה של בנייה. התבוננות. התכנסות פנימה וגדילה בתנועה מתמדת. להשתייך לבית מדרש
חי שילווה אותך בע"ה בהמשך החיים, בצמתים חשובים, קשר לתלמידי חכמים, לאנשים גדולים
לקשור קשרי חברויות אמיצים.. והעיקר ללמוד תורה.<br>
את בעיצומה של שנת השירות הראשונה, השניה. שקועה ומלאה מעל הראש בעשיה אינטנסיבית.<br>
השאלה מה את עושה שנה הבאה כבר מהדהדת.. והנה זה מגיע.. לסגור מקום לשנה הבאה.
 <b>מתי באים לבדוק את המדרשה?</b>
                    תהליך הבדיקה ב'שירת חברון' מתחיל באזור חודש שבט ונמשך
עד שמסתיימת ההרשמה.
<b>מה עושים ביום הזה?</b>
<br> ימי הבדיקה במדרשה הם ימי שני או רביעי בתיאום מראש. יום בדיקה הוא
יום מלא מ9:00-18:00 (הלימודים במדרשה עצמה עד 22:30). בו מגיעים ליום שכולו פתיחת הלב.
<br>ביום זה את מצטרפת לבנות המדרשה וחווה כמה שיותר על מנת לתת לך את ההזדמנות לחוש
ולהרגיש כמה שיותר. ביום זה את מצטרפת למערכת השיעורים הסדורה במדרשה, נפגשת עם תוכן
השיעורים, עם הבנות, במהלך היום יורדים ל'מערת המכפלה' ולביקור עם דמות הקשורה למדרשה
בלב ליבה של חברון. במהלך היום תפגשי לראיון עם הרבנית נעמה ראש המדרשה.
 <b>מה צריך להביא?</b>
                    תמונת פספורט לשלב הריאיון, ולב שמח ופתוח.<br>
 <b>האם צריך להביא אוכל?</b>
                    השהות במדרשה כולל 3 ארוחות מסודרות ובריאות ביום, ומטבח פתוח.<br>
אין צורך להביא אוכל. מומלץ להביא משהו לארוחת הבוקר לזמן הנסיעה.
 <b>איך מגיעים?</b>
                    קווי הגעה מ3 מוקדים: ירושלים- קו 160 היוצא מתחנה מרכזית ירושלים כל 20 דק'<br>
ומוריד בתחנה על פתח המדרשה. משך הנסיעה כ50 דק'. קרית גת: קו 162. באר שבע: קו ___
היוצא מ___. <br>יש לתאם את הנסיעה יום לפני הבדיקה באתר אגד  על מנת לתזמן הגעה בזמן. תחנה
 <b>האם קיימת תוכנית אלול/חלקית/שילוב עם ש"ל?</b>
                    לא. <br>בשירת חברון קיימת תוכנית מלאה בלבד.<br>
מתחילת שנת הלימודים, חודש אלול, מתחילה לצעוד ביחד אותה החבורה, תוך למידה וגדילה ביחד
עד לסוף השנה.<br>
<b>פסיכומטרי</b>. במדרשה קיימת אפשרות לקיום פסיכומטרי. בשנים האחרונות נפתחה כמידי שנה
קבוצת פסיכומטרי עם חברת HIGH-Q. פתיחת קבוצה מותנת במס' של נרשמות. הקבוצה היא
ייחודית למדרשה, ומתקיימת בקרית ארבע. המועד שנגשים אליו הוא מועד חנוכה.
<br><b>אז למה 'שירת חברון'?</b>
<br> מוזמנת פשוט לבוא ולראות...<br>
נשמח בבואך!<br>
לפרטים והרשמה לימי הבדיקה-<br>
מיטל 052-8990322
                </div>








                <div class="text2" ng-show="activeIndex == 1">
                היי, את!<br> כן, הבחורה שמחפשת מדרשה. מה שלומך? <br>אני יודעת שיש לך רק כמה דקות... אז בואי נעשה את זה קצר.<br>
ללמוד תורה במדרשה. טוב, זה חתיכת עניין.<br>
שנה שלימה אחרי השירות לאומי/צבא , כשסוף סוף יש לך זמן להגשים את כל החלומות: לצלוח את שביל ישראל, לעשות כסף בעבודה מועדפת, לטוס עם חברה לאיים הקריביים, ובכללי ליהנות מהחיים..
ובכל זאת את עוד כאן.<br> למה?<br> אולי כי יש בך משהו שמרגיש ששנה של לימוד תורה זה משהו גדול, שנותן משמעות אחרת, עמוקה יותר לחיים,  וגם לך עצמך. ומשהו בך רוצה את זה.<br> לחפש ולמצוא את האמת של החיים שלנו. יש פה סוד להיפגש איתו<br>נכון, זאת בחירה רצינית, בוגרת. אבל זה מה שאת עכשיו, לא? אדם מבוגר. הגיע הזמן לחשוב קדימה, על מה את רוצה מהחיים האלה. איזה צבע יהיה להם, איזה טעם. איזו מטרה<br>
אז עכשיו בואי נראה מה יש לשירת חברון להציע לך:<br>
                בשירת חברון תפגשי עם תורה הנוגעת ושייכת לחיים. תורה שמובילה אותך למפגש עמוק עם עצמך, עם האישיות שלך, עם הכוחות הנמצאים בך, עם עַם ישראל..תורה שנלמדת באהבה ובמתיקות, ומאמינה בך.
                    <br>מערת המכפלה. המערה במרחק של כמה דקות ממך לאורך כל השנה. הקדושה, התפילה, הקרבה הזאת לאבות ולאמהות שלנו. למשמעות העמוקה של חברון.. קצת כמו לחזור הביתה.
  שנה שמפגישה אותך עם עצמך בצורה שאולי לא נפגשת בה קודם,  ובאופן טבעי עולות המון שאלות. בשביל זה יש את צוות המדרשה- מעטפת חמה ותומכת של אנשים שמבינים בדיוק את המקום שאת נמצאת בו, שישמחו להקשיב לך, לייעץ, לתמוך ולתת צידה משמעותית לדרך..<br>כמובן! יש טיולים, שבוע עבודה, ערבי הווי ,שבתות מיוחדות  ואירוח בבתי הרבנים..
                    <br>ועוד נקודה: יש חלק בנפש, הוא נקרא 'חלק הזַן'. את עוד תלמדי עליו. בכל מקרה, לפעמים יש לו כל מיני דרישות, אז בואי נרגיע אותו:   * שלוש ארוחות מסודרות   *המגורים צמודים לבית המדרש *אפשרות למלגת לימודים במידת הצורך * אם תכננת לשלב פסיכומטרי: קורס של חברת High Q במדרשה!
                    <br>
זהו. עכשיו נשאר לך רק לבוא ולראות, וכמובן להרגיש.<br>
מיטל תשמח לענות על כל השאלות שבטוח יש לך: 052-8990322.<br>
מחכה לראותך בקרוב אצלנו<br>
נעה
                </div>
                <div class="text13" ng-show="activeIndex == 2">
                text1333
                </div>
            </div>
            <div class="subject-img"></div>
        </div>


    </div>
</div>