<div>
    <div class="middle">
        <div class="come box">
            <div class="title"><span>בואי להכיר!</span></div>
            <div class="icon"></div>
            <div class="text-area">ברוכה הבאה! הכירי את המדרשה
                <br>
					מעוניינת בטעימה מחיי המדרשה?
                <br>
					לחצי כאן לצפיה בסרטון אודותינו</div>
        </div>
        <div class="join box">
            <div class="title"><span>הצטרפי לתפוצה</span></div>
            <div class="icon"></div>
            <div class="text-area">
                <span>מעוניינת לקבל עדכונים על ימי עיון?<br>מעוניינת לקבל שיעור חודשי למייל? מלאי את פרטייך והצטרפי לרשימת התפוצה שלנו</span>

            </div>
            <div class="join-details"><span class="det-name">שם:</span><span><input type="text" /></span><span class="det-name">דוא"ל:</span><span><input type="text" /></span><div class="send-btn"></div></div>
        </div>
    </div>

</div>
