<div class="middle share">
    <div class="title"><span>כותבות ומשתפות</span></div>
    <div class="text">המערה…<br>
כמה געגוע.<br>
בתוך ההמולה של תל אביב, בעירוניות של רמת השרון,<br>
באווירה האקדמית הזאת, ושהכל מוחצן וגדול והמון-<br>
חסרה לי כל כך אותה פיסת קרקע שקנה אברהם, חלקה ראשונה בארץ הקודש.<br>
אותה פשטות ישרה, עזת פנים, עתיקה, של עיר האבות.<br>
האבנים הגדולות<br>
שתחתן<br>
מערה.<br>
ושם אבותינו ואימותינו,<br>
ושם פתח גן עדן<br>
ושער התפילות.<br>
ואולי שם אוכל לחזור לשורש, לאמת, למהות.<br>
ואולי שם יסוד העפר שבי יתעלה, בזכות ישני חברון,<br>
להיות מקור ליציבות ולצמיחה<br>
ולא עוד בוץ טובעני וחול שמכביד.<br>
 אולי שוב אלמד לראות, אלמד ללמוד,<br>
מחיים פשוטים, פשוט חיים<br>
של תורה ואור ומעשה,<br>
של תפילה ועבודה בשדה.<br>
ובעיקר של אמת <br>
לא מתפשרת, לא פושרת ובינונית.<br>
אמיתית, בוערת.<br>
אמת מחברת<br>
בין אמיתות<br>
אמת שתופרת<br>
הכל למארג אחד<br>
שלם
</div>
    <div class="subject-img"></div>
</div>