<div class="middle information">
    <div class="title"><span>שנת מדרשה</span></div>
    <div class="text">היי, את!<br> כן, הבחורה שמחפשת מדרשה. מה שלומך? <br>אני יודעת שיש לך רק כמה דקות... אז בואי נעשה את זה קצר.<br>
ללמוד תורה במדרשה. טוב, זה חתיכת עניין.<br>
שנה שלימה אחרי השירות לאומי/צבא , כשסוף סוף יש לך זמן להגשים את כל החלומות: לצלוח את שביל ישראל, לעשות כסף בעבודה מועדפת, לטוס עם חברה לאיים הקריביים, ובכללי ליהנות מהחיים..
ובכל זאת את עוד כאן.<br> למה?<br> אולי כי יש בך משהו שמרגיש ששנה של לימוד תורה זה משהו גדול, שנותן משמעות אחרת, עמוקה יותר לחיים,  וגם לך עצמך. ומשהו בך רוצה את זה.<br> לחפש ולמצוא את האמת של החיים שלנו. יש פה סוד להיפגש איתו<br>נכון, זאת בחירה רצינית, בוגרת. אבל זה מה שאת עכשיו, לא? אדם מבוגר. הגיע הזמן לחשוב קדימה, על מה את רוצה מהחיים האלה. איזה צבע יהיה להם, איזה טעם. איזו מטרה<br>
אז עכשיו בואי נראה מה יש לשירת חברון להציע לך:<br>
                בשירת חברון תפגשי עם תורה הנוגעת ושייכת לחיים. תורה שמובילה אותך למפגש עמוק עם עצמך, עם האישיות שלך, עם הכוחות הנמצאים בך, עם עַם ישראל..תורה שנלמדת באהבה ובמתיקות, ומאמינה בך. 
<br>מערת המכפלה. המערה במרחק של כמה דקות ממך לאורך כל השנה. הקדושה, התפילה, הקרבה הזאת לאבות ולאמהות שלנו. למשמעות העמוקה של חברון.. קצת כמו לחזור הביתה. 
  שנה שמפגישה אותך עם עצמך בצורה שאולי לא נפגשת בה קודם,  ובאופן טבעי עולות המון שאלות. בשביל זה יש את צוות המדרשה- מעטפת חמה ותומכת של אנשים שמבינים בדיוק את המקום שאת נמצאת בו, שישמחו להקשיב לך, לייעץ, לתמוך ולתת צידה משמעותית לדרך..<br>כמובן! יש טיולים, שבוע עבודה, ערבי הווי ,שבתות מיוחדות  ואירוח בבתי הרבנים..
<br>ועוד נקודה: יש חלק בנפש, הוא נקרא 'חלק הזַן'. את עוד תלמדי עליו. בכל מקרה, לפעמים יש לו כל מיני דרישות, אז בואי נרגיע אותו:   * שלוש ארוחות מסודרות   *המגורים צמודים לבית המדרש *אפשרות למלגת לימודים במידת הצורך * אם תכננת לשלב פסיכומטרי: קורס של חברת High Q במדרשה!
<br>
זהו. עכשיו נשאר לך רק לבוא ולראות, וכמובן להרגיש.<br>
מיטל תשמח לענות על כל השאלות שבטוח יש לך: 052-8990322.<br>
מחכה לראותך בקרוב אצלנו<br>
נעה
</div>
    <div class="subject-img"></div>
</div>