<div class="middle information aboutMid">
    <div class="title"><span>שנת מדרשה</span></div>
    <div class="text">
	<b>מדרשת שירת חברון: מחפשת את השביל שלי</b>
	<br>
	<br>
את שמבקשת <br>

להכיר את עצמך, <br>

ללמוד תורה שנותנת עוצמה לכל פרטי החיים, <br>

להתמלא במשהו אחר,<br>

לחיות את החיים בכל הגודל שלהם, <br>

להתחבר לאמהות, פה בחברון, <br>

בואי ללמוד איתנו במדרשת שירת חברון. <br>

מדרשה תורנית לבנות המבקשות לגדול באמונה. <br>

לימוד פנימי מעמיק ויסודי לצד אוירה של חיות וזרימה. בנין כוחות הנפש מתוך <br>

הלימוד מתקיים באווירה משפחתית וחמה מתוך נחת ורוגע. פה תמצאי קשר <br>

אישי ואוזן קשבת עם צוות המדרשה, ובראשו הרבנית נעמה אתרוג. <br>

במדרשה לומדות בנות מסגנונות שונים היוצרות חבורה מיוחדת, מעין משפחה.<br>
<b>אופי הלימוד</b>

מפגש אמיתי עם עצמנו, עמנו ותורת חיינו.<br>

  חיי של הפרטים לפרטי ויורד לחיים, המחובר לימוד הוא במדרשה התורהלימוד<br>

  מאמינה עולם השקפת ולחדד לעצב וכלים כוחות הבת מקבלת הלימודמן<br>

  רק והתקדמות אחדות אהבה, על ישראל, לכלל החיבור על דגש שמההמדרשה<br>

ואיתנה, ומתוך כך לחיות חיים שמחים, ולבנות בית ומשפחה בישראל. <br>

בזכות שייכותנו לעם, על פי תורתו של הראי"ה קוק זצ"ל. <br>

  תנ"ך, אמונה, בניין שונים; בנושאים משיעורים ומורכבת מגוונת השעותמערכת<br>

  בירור המאפשרות וחברותות, קטנות לימוד קבוצות מתקיימות השבועבמהלך<br>

עבודת המידות, תפילה, עולמם של חז"ל, הלכה ועוד <br>

אישי מעמיק, וקניית יכולות ללימוד עצמי. <br>
<b>אופי הלימוד</b><br>

  הרב רויטל, בועז הרב וייס, אריה הרב אתרוג, חננאל הרב וולדמן, אליעזרהרב<br>

  בן רחמים הרב מתוקי, דוד הרב וידר, יהושע הרב אליגל, יגאל הרב יהוד,שחר<br>

  איצקוביץ, עידית הרבנית המדרשה, ראש - אתרוג נעמה הרבניתשמעון.<br>

  בן נעמה אשת, אלישבע ראפ, דינה קליין, חוי הרבנית וולדמן, רותיהרבנית<br>

פנחס, נורית גאל דור, מירב אברהם, שולמית גולדברג, נורית ביבי ועוד.<br>
<b>ומה עוד?</b><br>

 בכל שבוע, יורדות הבנות לתפילת שחרית במערת המכפלה, <br>

וכמובן לתפילות שבת בשבתות המדרשה. 

 במערכת השעות משולבים שיעורים וחברותות בישוב היהודי 

 במדרשה מתקיימת פעילות חברתית מגוונת. 

 מלגות לימודים למתאימות.  

 תחבורה ציבורית נוחה ובתדירות גבוהה לירושלים, קרית גת 

 קורס פסיכומטרי של חברת היי קיו מתקיים במדרשה

 פעילות חברתית שיוצרת יחד מגבש ומעצים
</div>




<!-- 
<div class="text">היי, את!<br> כן, הבחורה שמחפשת מדרשה. מה שלומך? <br>אני יודעת שיש לך רק כמה דקות... אז בואי נעשה את זה קצר.<br>
ללמוד תורה במדרשה. טוב, זה חתיכת עניין.<br>
שנה שלימה אחרי השירות לאומי/צבא , כשסוף סוף יש לך זמן להגשים את כל החלומות: לצלוח את שביל ישראל, לעשות כסף בעבודה מועדפת, לטוס עם חברה לאיים הקריביים, ובכללי ליהנות מהחיים..
ובכל זאת את עוד כאן.<br> למה?<br> אולי כי יש בך משהו שמרגיש ששנה של לימוד תורה זה משהו גדול, שנותן משמעות אחרת, עמוקה יותר לחיים,  וגם לך עצמך. ומשהו בך רוצה את זה.<br> לחפש ולמצוא את האמת של החיים שלנו. יש פה סוד להיפגש איתו<br>נכון, זאת בחירה רצינית, בוגרת. אבל זה מה שאת עכשיו, לא? אדם מבוגר. הגיע הזמן לחשוב קדימה, על מה את רוצה מהחיים האלה. איזה צבע יהיה להם, איזה טעם. איזו מטרה<br>
אז עכשיו בואי נראה מה יש לשירת חברון להציע לך:<br>
                בשירת חברון תפגשי עם תורה הנוגעת ושייכת לחיים. תורה שמובילה אותך למפגש עמוק עם עצמך, עם האישיות שלך, עם הכוחות הנמצאים בך, עם עַם ישראל..תורה שנלמדת באהבה ובמתיקות, ומאמינה בך. 
<br>מערת המכפלה. המערה במרחק של כמה דקות ממך לאורך כל השנה. הקדושה, התפילה, הקרבה הזאת לאבות ולאמהות שלנו. למשמעות העמוקה של חברון.. קצת כמו לחזור הביתה. 
  שנה שמפגישה אותך עם עצמך בצורה שאולי לא נפגשת בה קודם,  ובאופן טבעי עולות המון שאלות. בשביל זה יש את צוות המדרשה- מעטפת חמה ותומכת של אנשים שמבינים בדיוק את המקום שאת נמצאת בו, שישמחו להקשיב לך, לייעץ, לתמוך ולתת צידה משמעותית לדרך..<br>כמובן! יש טיולים, שבוע עבודה, ערבי הווי ,שבתות מיוחדות  ואירוח בבתי הרבנים..
<br>ועוד נקודה: יש חלק בנפש, הוא נקרא 'חלק הזַן'. את עוד תלמדי עליו. בכל מקרה, לפעמים יש לו כל מיני דרישות, אז בואי נרגיע אותו:   * שלוש ארוחות מסודרות   *המגורים צמודים לבית המדרש *אפשרות למלגת לימודים במידת הצורך * אם תכננת לשלב פסיכומטרי: קורס של חברת High Q במדרשה!
<br>
זהו. עכשיו נשאר לך רק לבוא ולראות, וכמובן להרגיש.<br>
מיטל תשמח לענות על כל השאלות שבטוח יש לך: 052-8990322.<br>
מחכה לראותך בקרוב אצלנו<br>
נעה
</div> -->



    <div class="subject-img"></div>
</div>