<div class="middle way">
    <div class="title"><span>פרטים ודרכי הגעה</span></div>
    <div class="text">

        באה למדרשה? ברוכה הבאה!<br>
מירושלים קו 160 מתחנה מרכזית<br>
מקרית גת קו  162 מתחנה מרכזית<br>
מבאר שבע קו 440, 51,61 מתחנה מרכזית<br><br>
כדאי להתעדכן באתר של אגד בזמני האוטובוסים.<br>
בקרית ארבע מבקשים מהנהג לרדת בתחנה של בנק לאומי.
מיד כשיורדים מהתחנה נכנסים לבנין שליד התחנה (עליו כתוב בגדול מלון אשכולות)
יורדים חצי קומה ומגיעים לבית מדרשת שירת חברון - <br><b>כמה טוב שבאת!</b>
    </div>
    <div class="subject-img"></div>
</div>
