<div class="donation-page">
    <div class="main">

        <div class="middle" ng-init="activeIndex = 0">

            <div class="title"><span>תרומות</span></div>
            <div class="text">
                <div class="sub-title-gray">חיי השגרה במדרשה עמוסים בפעילויות שונות, ולהן יסייעו תרומותיכם:</div>
				<div class="donation-details">
					<span>מלגות לימודים לתלמידות בעלות קשיים כלכליים</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>ערבי לימוד פתוחים לקהילת הנשים בקרית ארבע והסביבה</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>העשרת ארון הספרים במדרשה</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>הוצאת לימוד יומי לבת השירות הלאומי "בדרכיו כל הימים"</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>פעילויות חברתיות לבנות המדרשה</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>חידוש ריהט בית המדרש: שולחנות, כסאות, ספריות</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>אבזור המטבח וחדר האוכל</span>
					<span class="circle-delimiter">&#9679;</span>
					<span>הפקת עלון שיעוריםלבוגרות המדרשה</span>
					
				</div>
				<div class="can-text">ניתן לתרום בדרכים הבאות:</div>
				<div class="donation-wrap">
					<div class="donation-item">
						<div class="don-item-title">המחאה</div>
						<div class="don-item-desc">כתובת למשלוח: מדרת שירת חברון ת.ד. 639 קרית ארבע 90100</div>
					</div>
					<div class="donation-item">
						<div class="don-item-title">הוראת קבע</div>
						<div class="don-item-desc">לחצי <span> כאן </span> להורדת טופס הוראת קבע. פקס: 02-9960555</div>
					</div>
					<div class="donation-item">
						<div class="don-item-title">כרטיס אשראי</div>
						<div class="don-item-desc">בטלפון: 052-8990272</div>
					</div>
					<div class="donation-item">
						<div class="don-item-title">העברה בנקאית</div>
						<div class="don-item-desc">פ.ח. בנק לאומי 10, סניף 797, גבעת אורנים, חשבון 611666/56 ע"ש שירת חברון"</div>
					</div>
					<div class="donation-item last">
						
						<div class="don-item-desc">נא להודיע במסרון למספר:  052-8990272 על ביצוע הערבה בנקאית</div>
					</div>
				</div>
            </div>

			<div class="subject-img"></div>
        </div>
    </div>
