<div class="middle about">
    <div class="title"><span>אז מי אנחנו?</span></div>
    <div class="text">ונתחיל דווקא מהסוף.. ב"ה שפע של מדרשות רציניות ואיכותיות קמו ועלו במהלך השנים האחרונות ברחבי הארץ. מיטב המקומות, מצפון ועד דרום.. לכל מדרשה האופי והייחודיות משלה- אז איפה עושים שנת מדרשה ?!
נכון. יש מגוון רחב של אפשרויות והעיקר- לעשות שנת מדרשה מלאה.
אם את מזהה בך את הצימאון ללמוד ולהעמיק, לבנות בתוכך עוד קומה וקשר, לייצב יסודות בעבודת ה' ובבניין האישיות שלך רגע לפני שמרוץ החיים מתחיל באמת.. אל תוותרי על כך. בעיננו, ההחלטה הלא קלה הזאת, עשיית ה'pause'  משטף החיים ('מתי תתחילי ללמוד?' / 'איך תתחתני'? / 'את יודעת כמה קשה לשלב לימודי תואר ולגדל ילדים?') זוהי בהחלט החלטה אמיצה, החלטה שבונה חיים שלמים..
שנה שלמה של בנייה. התבוננות. התכנסות פנימה וגדילה בתנועה מתמדת. להשתייך לבית מדרש חי שילווה אותך בע"ה בהמשך החיים, בצמתים חשובים, קשר לתלמידי חכמים, לאנשים גדולים לקשור קשרי חברויות אמיצים.. והעיקר ללמוד תורה.
את בעיצומה של שנת השירות הראשונה, השניה. שקועה ומלאה מעל הראש בעשיה אינטנסיבית. השאלה מה את עושה שנה הבאה כבר מהדהדת.. והנה זה מגיע.. לסגור מקום לשנה הבאה.
מתי באים לבדוק את המדרשה? תהליך הבדיקה ב'שירת חברון' מתחיל באזור חודש שבט ונמשך עד שמסתיימת ההרשמה. 
מה עושים ביום הזה? ימי הבדיקה במדרשה הם ימי שני או רביעי בתיאום מראש. יום בדיקה הוא יום מלא מ9:00-18:00 (הלימודים במדרשה עצמה עד 22:30). בו מגיעים ליום שכולו פתיחת הלב. ביום זה את מצטרפת לבנות המדרשה וחווה כמה שיותר על מנת לתת לך את ההזדמנות לחוש ולהרגיש כמה שיותר. ביום זה את מצטרפת למערכת השיעורים הסדורה במדרשה, נפגשת עם תוכן השיעורים, עם הבנות, במהלך היום יורדים ל'מערת המכפלה' ולביקור עם דמות הקשורה למדרשה בלב ליבה של חברון. במהלך היום תפגשי לראיון עם הרבנית נעמה ראש המדרשה.
מה צריך להביא? תמונת פספורט לשלב הריאיון, ולב שמח ופתוח.
האם צריך להביא אוכל? השהות במדרשה כולל 3 ארוחות מסודרות ובריאות ביום, ומטבח פתוח. אין צורך להביא אוכל. מומלץ להביא משהו לארוחת הבוקר לזמן הנסיעה.
איך מגיעים? קווי הגעה מ3 מוקדים: ירושלים- קו 160 היוצא מתחנה מרכזית ירושלים כל 20 דק' ומוריד בתחנה על פתח המדרשה. משך הנסיעה כ50 דק'. קרית גת: קו 162. באר שבע: קו ___ היוצא מ___. יש לתאם את הנסיעה יום לפני הבדיקה באתר אגד  על מנת לתזמן הגעה בזמן. תחנה 
האם קיימת תוכנית אלול/חלקית/שילוב עם ש"ל? לא. בשירת חברון קיימת תוכנית מלאה בלבד. מתחילת שנת הלימודים, חודש אלול, מתחילה לצעוד ביחד אותה החבורה, תוך למידה וגדילה ביחד עד לסוף השנה.




פסיכומטרי. במדרשה קיימת אפשרות לקיום פסיכומטרי. בשנים האחרונות נפתחה כמידי שנה קבוצת פסיכומטרי עם חברת HIGH-Q. פתיחת קבוצה מותנת במס' של נרשמות. הקבוצה היא ייחודית למדרשה, ומתקיימת בקרית ארבע. המועד שנגשים אליו הוא מועד חנוכה.
אז למה 'שירת חברון'? מוזמנת פשוט לבוא ולראות... 
נשמח בבואך!
לפרטים והרשמה לימי הבדיקה-
מיטל 052-8990322

</div>
    <div class="subject-img"></div>
</div>